extends layout

block content
  div.content
    h1= title
    div(ng-app="myApp" ng-controller="myCtrl" ng-init="init("+data+")")
      button(ng-click="quartToggle()") Show Quarterly
      table
        thead
          tr
            th(ng-hide="showQuarterly") Month
            th(ng-show="showQuarterly") Quarter
            th CPMU
        tbody
          tr(ng-repeat="item in items | cpmu")
            td(style="width:200px" ng-show="showQuarterly") {{item['date']}}
            td(style="width:200px" ng-hide="showQuarterly") {{item['Value.date'] | myDateFormat}}
            td(style="width:200px") {{item.cpmu}}

block scripts
  script(src='/js/cpmu.js')