extends layout

block content
  div.container
    //h1= title
    div#app(v-cloak).content
      cmpu-table(items=''+data+'' rows-per-page=20)
        h1= title

block scripts
  script(src='/js/manifest.js')
  script(src='/js/vendor.js')
  script(src='/js/app.js')