body {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: #333;
    background: #fff;
}